[submodule "FEI"]
	path = FEI
	url = https://github.com/ChristianGLuna/FEI.git
[submodule "Ecommerce"]
	path = Ecommerce
	url = https://github.com/ChristianGLuna/Ecommerce.git
[submodule "Poema"]
	path = Poema
	url = https://github.com/ChristianGLuna/Poema.git
[submodule "ordinario-ftw"]
	path = ordinario-ftw
	url = https://github.com/ChristianGLuna/ordinario-ftw.git
